@import url('/static/navbar.css');
@import url('/static/search.css');
@import url('/static/banner.css');
@import url('/static/post.css');
@import url('/static/blogstyle.css'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --Playfair: 'Playfair Display', serif;
    --Roboto: 'Roboto', serif;
    --Montserrat: 'Montserrat', sans-serif;
    --Raleway: 'Raleway', sans-serif;
    --dark: #022c1e;
    --exDark: #faf5f6;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Raleway);
}

body {
    line-height: 1.4;
    color: var(--dark);
}



.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 3rem;

}

.header {
    min-height: 100vh;
    background:linear-gradient(rgba(236, 146, 196, 0.4), rgba(119, 174, 236, 0.4)),url('/images/shortcake.jpg') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


body {
    line-height: 1.5;
    color: #022c1e;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}


.read-more {
    display: inline-block;
    margin: 1rem;
    color: #022c1e;
    text-decoration: none;
    font-weight: bold;
 
    transition: color 0.3s ease, border-color 0.3s ease;
}

.read-more:hover {
    color: #333;
    border-color: #333;
}

.aboutme {
    border-radius: 0.5rem;
    border: 1px solid #e70fb1;
    overflow: hidden;
    background-color:none;
    text-align: center;     
    padding: 5rem;          
    width: 100%;              
    box-sizing: border-box; 
}

.aboutme img {
    max-width: 50%;
    height: auto;
    border-radius: 2rem;
    display: block;
    margin: 0 auto;
    opacity: 85%;
}


ul, ol {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

ul li, ol li {
    text-decoration: none; 
}


ul {
    padding-left: 0; 
}

ol {
    padding-left: 0; 
}






@media (max-width: 768px) {
    .post {
        margin: 1rem 0;
    }

    .post-title {
        font-size: 1.5rem;
    }

    .post-excerpt {
        font-size: 0.9rem;
    }

    .read-more {
        font-size: 0.9rem;
    }
}
@media (max-width: 768px) {
    .aboutme {
        width: 40%;  
    }
}